@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');

* {
    margin: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#main {
    background-image: url(img/img/bgMAIN.png);
}

#about {
    background-image: url(img/img/bgABOUT.png);
}

#skills {
    background-image: url(img/img/bgSKILLS.png);
}

#works {
    background-image: url(img/img/bgWORKS.png);
}

#comments {
    background-image: url(img/img/bgCOMMENTS.png);
}

.main-block, .about-block, .skills-block,
.works-block, .comments-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.main-block {
    flex-direction: column;
    height: 100vh;
}

.main-content {
    background-image: url(img/img/form1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 849px;
    height: 223px;
    padding-left: 30px;
    z-index: +1;
}

.main-title {
    font-size: 80px;
    color: #2b2d35;
    padding-top: 67px;
}

.main-subtitle {
    color: #2b2d35;
    font-size: 20px;
    font-family: 'Comfortaa';
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid black;
    background-color: #bbff2c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 5px 5px 0 black;
    transition-duration: 0.3s;
}

.button:hover {
    background: #7fad1d;
}

.button a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.main-planet {
    position: absolute;
    margin-left: 1000px;
    width: 480px;
    height: 430px;
}

.moving-planet {
    background-image: url(img/img/moving-planet.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation-name: down-up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes down-up {
    from{transform: translateY(0px);}
    to{transform: translateY(70px);}
}

.title {
    color: #fff;
    font-size: 80px;
    text-shadow: 5px 5px 0 black;
    text-align: center;
    padding-top: 100px;
}

.about-content {
    width: 894.88px;
    height: 270px;
    padding-left: 40px;
    padding-top: 40px;
    background-color: #792aff;
    position: relative;
    display: flex;

}

.about-title {
    font-family: 'Comfortaa';
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    max-width: 463px;
    margin-bottom: 20px;
}

.about-card {
    background-image: url(img/img/form2.png);
    background-repeat: no-repeat;
    width: 376px;
    height: 346px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 58px;
    bottom: 60px;
    padding-top: 20px;
}

.about-card p {
    color: #000;
    font-size: 17px;
    font-family: 'Comfortaa';
    align-self: start;
    margin-left: 20px;
    line-height: 25px;
}

.about-card img {
    padding-bottom: 20px;
}

.skills-card {
    background-image: url(img/img/form3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 100px;
    padding-left: 10px;
    margin: 20px;
}

.skills-card p {
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: 'Comfortaa';
    line-height: 25px;
}


.moving-planet2 {
    background-image: url(img/img/moving-planet2.png);
    background-repeat: no-repeat;
    width: 208px;
    height: 200px;
    position: absolute;
    bottom: 70px;
    left: 0px;
}

.moving-planet, .moving-planet2, .moving-cloud {
    animation-name: planet-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes planet-move {
    from{transform: translateX(0px);}
    to{transform: translateY(70px);}
}

.works-block img {
    margin: 0 20px;
    width: 27%;
    box-shadow: 7px 7px 0 #000000;
}

.comments-block {
    justify-content: space-evenly;
    max-width: 1150px;
    margin: auto;
}

.comment-card {
    background-image: url(img/img/card.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 210px;
}

.comment-card h3 {
    font-family: 'Comfortaa';
    font-size: 18px;
    padding: 10px;
}

.comment-card p {
    font-family: 'Comfortaa';
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
}

.comment {
    background-image: url(img/img/comment.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 313px;
    height: 156px;
    text-align: center;
}

.comment p{
    font-family: 'Comfortaa';
    font-size: 18px;
    max-width: 250px;
    text-align: center;
    padding-top: 20px;
    padding-left: 40px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #200153;
    width: 100%;
    height: 110px;
}

.txt2 {
    font-size: 20px;
    font-family: 'Comfortaa';
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #ffff;
}

.txt {
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: 700;
    line-height: 20.99px;
    text-align: left;
    color: #ffff;
}

footer{
    background-color: #200153;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
 }
 
 .footer-info p{
    font-family: 'Comfortaa';
    padding-bottom: 10px;
 }
 
 .footer-year p{
    font-family: 'Comfortaa';
    letter-spacing: 1.5px;
 }
 
 .footer-links a{
    margin-right: 15px;
 }

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.fixed-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 150px;
}

.nav-link {
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-family: 'Comfortaa';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.logo {
    color: #bbff2c;
    font-size: 80px;
    padding-left: 50px;
}

.active {
    background: #bbff2c;
}

.mobile-button {
    display: none;
    padding-bottom: 125px;
    width: 40px;
    position: absolute;
    right: 40px;
}

.hide {
    display: none;
}

/*MOBILE*/

@media (max-width: 1000px) {
    .nav-links {
        display: none;
    }

    .mobile-button {
        display: block;
    }

    .mobile-menu {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        min-height: 100vh;
        background-color: #200153;
    }

    .mobile-nav {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .off-scroll {
        overflow: hidden;
    }

    .mobile-nav-links .nav-links {
        margin-bottom: 30px;
        width: 300px;
        height: 50px;
    }

    .logo {
        font-size: 40px;
        padding-left: 20px;
        padding-bottom: 130px;
    }

    .main-content {
        max-width: 320px;
    }

    .main-title {
        padding-top: 30px;
        font-size: 30px;
    }

    .main-subtitle {
        font-size: 15px;
    }

    .moving-planet, .moving-cloud, 
    .moving-planet2, .main-planet {
        display: none;
    }


    .title {
        font-size: 50px;
        padding-top: 30px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
        align-items: center;
        height: 100%;
        background-color: #7fad1d00;
    }

    .about-text {
        background-color: #792aff;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
    }

    .about-text .button {
       margin-left: 130px;
    }

    .about-card {
        order: -1;
        background-size: contain;
        padding-top: 20px;
        width: 326px;
        height: 296px;
        left: 0px;
    }

    .about-card img {
        width: 85%;
    }

    .about-content {
        width: 75%;
        margin: auto;
        margin-top: 200px;
    }

    .about-title {
        font-size: 18px;
    }
    .skills-card {
        margin: 20px;
        padding-left: 10px;
        background-size: contain;
    }

    .skills-card p {
        font-size: 16px;
        margin-top: 15%;
        margin-bottom: 20px;
    }

    .skills-section {
        min-height: 60vh;
    }

    .skills-card .button {
        position: absolute;
        bottom: 100px;
    }

    .button {
        width: 200px;
        height: 40px;
        border-radius: 100px;
        border: 2px solid black;
        background-color: #bbff2c;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        box-shadow: 4px 4px 0 black;
    }

    .button a {
        font-size: 15px;
        font-weight: 150px;
    }

    .works-block {
        flex-direction: column;
        padding: 20px 0;
    }

    .works-block img {
        margin: 20px 0;
        width: 80%;
    }

    .comments-block {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding-top: 50px;
    }

    .comment {
        background-image: url(img/img/comment-mobile.png);
        background-size: contain;
        max-width: 320px;
        height: 120px;
    }

    .comment p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        padding: 21px;
        font-size: 14px;
        max-width: 300px;
        max-height: 50px;
    }

    footer{
        height: 250px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-year {
        padding-top: 15px;
    }

    .footer-links {
        padding-top: 50px;
    }
}